<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="{{ root_url }}/stylesheets/lightly.css" rel="stylesheet" type="text/css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
  var jQ = jQuery.noConflict();
</script>
<script src="{{ root_url }}/javascripts/jquery.lightly.js" type="text/javascript"></script>
<script src="{{ root_url }}/javascripts/jflickrfeed.js" type="text/javascript"></script>
<script src="{{ root_url }}/javascripts/site.js" type="text/javascript"></script>
